.root {
}

.subs {
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding-right: 2em;
}

.hint {
  margin: -1em 0 1em;
  line-height: 1em;
  min-height: 2em;
}

.loading {
}

.error {
  color: darkred;
}
