.root {
}

.subs {
}

.columns {
  display: flex;
  flex-direction: row;
}

.theyLikeMe,
.iLikeThem,
.theyHateMe {
  flex: 1;
}

.hint {
  margin-top: -1em;
  line-height: 1em;
  min-height: 2em;
}

.loading {
}

.error {
  color: darkred;
}
