.root {
}

.subs {
}

.columns {
  display: flex;
  flex-direction: row;
}

.theyLikeMe {
  flex: 1;
}

.iLikeThem {
  flex: 1;
}

.message {
}

.attention {
  display: inline-block;
  width: 1em;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  background: green;
  color: white;
  border-radius: 100%;
  margin-left: 0.4em;
}

.loading {
}

.error {
  color: darkred;
}
