.root {
}

.iKnowYou {
  display: flex;
}

.you {
}

.logout {
  margin-left: auto;
  opacity: 0.5;

  :hover {
    opacity: 1;
  }
}

.whoAreYou {
}

.magic {
  font-weight: bold;
}

.form {
}

.token {
  min-height: 8em;
}

.loading {
}

.error {
  color: darkred;
}
