.root {
}

.user {
  position: relative;
  transition: top 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.message {
}

.attention {
  display: inline-block;
  width: 1em;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  background: green;
  color: white;
  border-radius: 100%;
}
