.root {
  position: relative;
}

.user {
  position: absolute;
  transition: top 0.5s;
}

.message {
}

.attention {
  display: inline-block;
  width: 1em;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
  background: green;
  color: white;
  border-radius: 100%;
  margin-left: 0.4em;
}
