.root {
  overflow: auto;
  max-height: 800px;
  border-bottom: 1px solid #eee;
  margin-bottom: 1em;
}

.user {
  position: relative;
  transition: top 0.5s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.message {
}
